.attendees {
  @include pie-clearfix;
}

.attendee {
  display: block;
  @include isolate-grid(1);
  .picture {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  .nickname {
    display: block;
    text-align: center;
    @include ellipsis;
    @include adjust-font-size-to(12px);
    @include trailer(.5);
  }
}
