.reg {
  @include adjust-font-size-to(13px, 3/4);
  background: green;
  color: white;
  border: none;
  padding: 8px 16px;
  display: block;
  width: 70%;
  margin: 0 auto;
  @include trailer(1);
  @include at-breakpoint($desktop) {
    display: inline-block;
    width: auto;
    padding: 8px 48px;
  }
}

.attendees {
  @include pie-clearfix;
}

.attendee {
  display: block;
  @include isolate-grid(1);
  @include at-breakpoint($desktop) {
    @include isolate-grid(1);
  }
  .picture {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  .nickname {
    display: block;
    text-align: center;
    @include ellipsis;
    @include adjust-font-size-to(12px);
    @include trailer(.5);
  }
}
