$total-columns    : 4;
$column-width     : 5em;
$gutter-width     : 1.5em;
$grid-padding     : 1em;

$desktop: 768px 8;

// $container-style: static;
// $container-width: false;

body {
  @include padding-leader(1);
  @include padding-trailer(1);
}

.row {
  @include pie-clearfix;
}

.page {
  @include container;
  // @include susy-grid-background;
  // @include at-breakpoint($desktop) {
  //   @include container;
  //   @include susy-grid-background;
  // }
}

// @include at-breakpoint($desktop) {
//   .header {
//     margin: 48px 0;
//   }
//   .main {
//     @include span-columns(5);
//   }
//   .sidebar {
//     @include span-columns(3 omega);
//   }
// }

.footer {
  @include leader(3);
  p {
    @include adjust-font-size-to(13px);
    color: #666;
  }
}
