body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-text-size-adjust: none;
  // -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
}

#{headings()} {
  @include reset-box-model;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  color: black;
}

h1 {
  @include adjust-font-size-to(32px, 1.5);
  @include trailer(1);
}

h2 {
  @include adjust-font-size-to(16px);
  @include trailer(1);
}

p,
li {
  @include adjust-font-size-to(13px, 3/4);
  @include trailer(1);
}

li {
  @include trailer(1/4);
}

a {
  @include link-colors(blue);
  @include hover-link;
}
